{% extends "main.html" %}

{% block maincontent %}
<h1>Congratulations {{ user.name }}!</h1>
<p>If you see this page, it means that you managed to log in successfully.</p>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
            <![endif]-->

            <!-- Add your site or application content here -->
            <div id="Background" class="Background">

              <div id="timeTableBackground"> 
                <div id="tabs"> 
                  <ul>
                    <li><a href="#timeTable-1"> All Shifts </a></li>
                    <li><a href="#timeTable-2"> My Shifts </a></li>
                  </ul>
                  <div id="timeTable-1" class="timeTable"> 
                    <div id="grid">
                      <div class="dayItem Mon"></div>
                      <div class="dayItem Tue"></div>
                      <div class="dayItem Wed"></div>
                      <div class="dayItem Thu"></div>
                      <div class="dayItem Fri"></div>
                      <div class="dayItem Sat"></div>
                      <div class="dayItem Sun"></div>
                    </div>
                  </div>
                  <div id="timeTable-2" class="timeTable">  </div>
                </div>
              </div>

              {% endblock %}
