{% extends "main.html" %}

{% block maincontent %}
<h1>Congratulations {{ user.name }}!</h1>
<p>If you see this page, it means that you managed to log in successfully.</p>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div id="Background" class="Background">
            <div id="userInformationBox" class="userInformationBox">
                <p id="userName" align=center style="font-family:Helvetica;">Kuni Nagakura</p>

            </div>
            <div id="timeTableBackground"> 
                <div id="tabPanel" class="tabPanel"> 
                    <ul>
                        <li><a href="#timeTable-1"> tab1 </a></li>
                        <li><a href="#timeTable-2"> tab2 </a></li>
                    </ul>
                    <div id="timeTable-1" class="timeTable"> 
                        <div id="NormalShift" class="sampleNormalShift" title="8:00-9:00 Robin" > 8:00-9:00
                            Robin
                        </div>
                        <div id="RequestShift" class="sampleRequestShift">
                        </div>
                        <div id="CoveredShift" class="sampleCoveredShift">
                            2:30-3:30
                        </div>
                    </div>
                <div id="timeTable-2" class="timeTable"> 
                    <div id="grid">
                        <div id="Mon" class="dayItem Mon"></div>
                        <div id="Tue" class="dayItem Tue"></div>
                        <div id="Wed" class="dayItem Wed"></div>
                        <div id="Thu" class="dayItem Thu"></div>
                        <div id="Fri" class="dayItem Fri"></div>
                        <div id="Sat" class="dayItem Sat"></div>
                        <div id="Sun" class="dayItem Sun"></div>

                         {% for number in range(7,11) %}
                            <div id="{{ number }}AM" class="{{ number }}AM">
                            <div id="{{ number }}30AM" class="{{ number }}AM">
                        {% endfor %}
                        <div id="twelvePM" class="hourItem twelvePM"></div>
                        <div id="twelvethirtyPM" class="hourItem twelvethirtyPM"></div>
                        {% range number from 1 to 11 %}
                            <div id="{{ number }}AM" class="{{ number  }}AM">
                            <div id="{{ number }}30AM" class="{{ number }}AM">
                        {% endrange %}
                        <div id="12AM" class="hourItem 12M"></div>
                        <div id="1230AM" class="hourItem 1230AM"></div> 
<!--                         <div id="sevenAM" class="hourItem sevenAM"></div>
                        <div id="seventhirtyAM" class="hourItem seventhirtyAM"></div>
                        <div id="eightAM" class="hourItem eightAM"></div>
                        <div id="eightthirtyAM" class="hourItem eightthirtyAM"></div>
                        <div id="nineAM" class="hourItem nineAM"></div>
                        <div id="ninethirtyAM" class="hourItem ninethirtyAM"></div>
                        <div id="tenAM" class="hourItem tenAM"></div>
                        <div id="tenthirtyAM" class="hourItem tenthirtyAM"></div>
                        <div id="elevenAM" class="hourItem elevenAM"></div>
                        <div id="eleventhirtyAM" class="hourItem eleventhirtyAM"></div>
                        <div id="twelvePM" class="hourItem twelvePM"></div>
                        <div id="twelvethirtyPM" class="hourItem twelvethirtyPM"></div>
                        <div id="onePM" class="hourItem onePM"></div>
                        <div id="onethirtyPM" class="hourItem onethirtyPM"></div>  
                        <div id="twoPM" class="hourItem twoPM"></div>
                        <div id="twothirtyPM" class="hourItem twothirtyPM"></div>
                        <div id="threePM" class="hourItem threePM"></div>
                        <div id="threethirtyPM" class="hourItem threethirtyPM"></div>
                        <div id="fourPM" class="hourItem fourPM"></div>
                        <div id="fourthirtyPM" class="hourItem fourthirtyPM"></div>
                        <div id="fivePM" class="hourItem fivePM"></div>
                        <div id="fivethirtyPM" class="hourItem fivethirtyPM"></div>
                        <div id="sixPM" class="hourItem sixPM"></div>
                        <div id="sixthirtyPM" class="hourItem sixthirtyPM"></div>
                        <div id="sevenPM" class="hourItem sevenPM"></div>
                        <div id="seventhirtyPM" class="hourItem seventhirtyPM"></div>
                        <div id="eightPM" class="hourItem eightPM"></div>
                        <div id="eightthirtyPM" class="hourItem eightthirtyPM"></div>
                        <div id="ninePM" class="hourItem ninePM"></div>
                        <div id="ninethirtyPM" class="hourItem ninethirtyPM"></div>
                        <div id="tenPM" class="hourItem tenPM"></div>
                        <div id="tenthirtyPM" class="hourItem tenthirtyPM"></div>
                        <div id="elevenPM" class="hourItem elevenPM"></div>
                        <div id="eleventhirtyPM" class="hourItem eleventhirtyPM"></div>
                        <div id="twelveAM" class="hourItem twelveAM"></div>
                        <div id="twelvethirtyAM" class="hourItem twelvethirtyAM"></div>
                </div> -->
                </div>
            </div>

            </div>
        </div>

{% endblock %}
